@model IEnumerable<WebApplication.Controllers.CheckinProperties>
@{
    ViewData["Title"] = "Kids check-ins";
}

<div class="container">
<div>
    <ul>
        @foreach(var checkin in Model) {
            <li><div id="red" style="background-color:red">@checkin.Color</div></li>
        }
    </ul>
</div>
</div>