@model IEnumerable<WebApplication.Controllers.CheckinProperties>
@{
    ViewData["Title"] = "Kids check-ins";
}

<div class="container">
<div>
    <ul>
        @foreach(var checkin in Model) {
            <li><div id="@checkin.Color" style="background-color:@checkin.Color">
                @(checkin.Count < @checkin.Max ? "Open" : "Full")
            </div></li>
        }
    </ul>
</div>
</div>